projHerrons_Website/Web References/refFoodSize/FoodSize.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SizeOfFood">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="size" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cost" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SizeOfFoodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SizeOfFoodResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SizeOfFoodSoapIn">
    <wsdl:part name="parameters" element="tns:SizeOfFood" />
  </wsdl:message>
  <wsdl:message name="SizeOfFoodSoapOut">
    <wsdl:part name="parameters" element="tns:SizeOfFoodResponse" />
  </wsdl:message>
  <wsdl:portType name="FoodSizeSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SizeOfFood">
      <wsdl:input message="tns:SizeOfFoodSoapIn" />
      <wsdl:output message="tns:SizeOfFoodSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FoodSizeSoap" type="tns:FoodSizeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SizeOfFood">
      <soap:operation soapAction="http://tempuri.org/SizeOfFood" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FoodSizeSoap12" type="tns:FoodSizeSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SizeOfFood">
      <soap12:operation soapAction="http://tempuri.org/SizeOfFood" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FoodSize">
    <wsdl:port name="FoodSizeSoap" binding="tns:FoodSizeSoap">
      <soap:address location="https://localhost:44371/FoodSize.asmx" />
    </wsdl:port>
    <wsdl:port name="FoodSizeSoap12" binding="tns:FoodSizeSoap12">
      <soap12:address location="https://localhost:44371/FoodSize.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>